
/******************************************************************
Site Name: Full Swing
Author: Jeremy Owens

Stylesheet: Widgets

Here is where we declare all of the styles for the widgets.

******************************************************************/

/*********************
 CALL TO ACTION
 	location of widget is in footer.php
  *********************/


  
/* turn off 1 box until after launch
 #call-to-action-box {
	float:left;
	margin-top:30px;
	margin-bottom:30px;
	width: 33%;
	text-align:center;
}
*/


#call-to-action-box {
	float:left;
	margin-top:30px;
	margin-bottom:30px;
	width: 50%;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}


.q-a-box {
	margin-left:auto;
	height:7em;
	background-color: $btn-green;
	width: 16em;
	padding: 1.4em 1.5em;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.how-work-box {
	margin-left:auto;
	margin-right:auto;
	height:7em;
	background-color: $btn-blue;
	width: 16em;
	padding: 1.4em 1.5em;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.contact-sales-box {
	margin-right:auto;
	height:7em;
	background-color: $box-orange;
	width: 16em;
	padding: 1.4em 1.5em;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.q-a-box a, .how-work-box a, .contact-sales-box a {
	text-transform: uppercase;
	color:$white;
	font-size: 1.3em;
	font-weight: 900;
}

.q-a-box p, .how-work-box p, .contact-sales-box p {
	-webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
	font-size: 1em;
	letter-spacing:-0.045em;
	color: $black;
	font-weight: 300;
	line-height: .95em;
	margin-top:8px;
}

@media (max-width: 481px){

 #call-to-action-box {
	width: 100%;
}
.q-a-box, .how-work-box, .contact-sales-box {
	margin-left:auto;
	margin-right:auto;
}

}

/*********************
 FOOTER NAV
 	location of widget is in footer.php footer.php
	breakpoint for 4 col nav is in _481up.scss
  *********************/



#footer-1-section {
	float:left;
	margin-top:30px;
	width: 25%;
}

#footer-1-section a {
	color:$footer-link;
	text-transform: uppercase;
	font-wight: 300;
	font-size: .9em;
	font-weight:900;
}

.social-footer h3 {
	color:$social-link;
	float:clear;
	font-size:19px;
	margin-bottom:2px;
	margin-top:-8px

}

.social-footer a i {
	color:$social-link-dark;
	font-size:24px;
	padding-right: 8px;
}

/*********************
ABOVE BOTTOM PARALLAX
  *********************/

#above-bottom-parallax-section {
	height:550px;
	background-color:$white;
	background-repeat: no-repeat;
	}

.widget-container {
    position: relative;
    width: 100%;
}

.box-1 {
    padding-top: 2%; /* forces 1:1 aspect ratio */
}

.box-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.box-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.box-container {
    vertical-align: middle;
    display: inline-block;
}

#swing-video {
	position:absolute;
	margin-top:-250px;
	margin-left:50%;
}

.swing-cat{
	margin-top:10px;
}

.swing-cat img {
	height:80%;
	margin-right:320px;
}

.swing-cat p {
	width:80%;
	color:$black;
}


/*********************
 BOTTOM HOME PAGE PARRALAX
 	location of widget is in page-custom.php
  *********************/

.video-box-container {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:85%;
	height:85%;
 	padding-top:0em;
}


.video-box-1 {
	width:100%;
	padding-bottom:0em;
}

.widget-heading h1 {
  	text-align: center;
  	color:$white;
  	padding-top:1em;

  }
@media (min-width:481px) {
 .widget-heading h1 {
  	text-align: center;
  	color:$white;
  	padding-top:1.5em;
  }
}
.widget-video-button a {
	text-transform: uppercase;
	text-align:center;
	color:$white;
	font-size: .9em;
	font-weight: 900;
	height:100%;
	margin-left: auto;
  	margin-right: auto;
	display: block;
	background-color: $box-orange;
	width: 14em;
	padding: .5em .5em;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;

}


/*********************
  BOTTOM SIM PARALLAX
  *********************/

#subheading-sim h2 {
	margin-left:auto;
	margin-right:auto;
    color: $black;
    padding-top:40px;
    text-align: center;
    width:55%;
}

#subheading-bottom-sim h1 {
	margin-left:auto;
	margin-right:auto;
    color: $black;
    padding-top:40px;
    text-align: center;
    width:55%;
}

@media (min-width:0px) and (max-width: 460px) {
#subheading-sim h2 {
	margin-left:auto;
	margin-right:auto;
    color: $black;
    padding-top:40px;
    text-align: center;
    width:85%;
    font-size:1.2em;
}
}

@media (min-width:461px) and (max-width: 767px) {
#subheading-sim h2 {
	margin-left:auto;
	margin-right:auto;
    color: $black;
    padding-top:40px;
    text-align: center;
    width:85%;
    font-size:1.5em;
}
}

@media (min-width:0px) and (max-width: 767px) {
#sim-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-mobile.jpg');
	padding-bottom:20px;
	background-repeat: no-repeat;
	}
}

@media (min-width:768px) and (max-width: 1024px) {
#sim-parallax-section {
	height:886px;
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-tablet.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width: 1025px){
#sim-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background.jpg');
	background-attachment: fixed;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
	padding-bottom:20px;
	}
}

@media (min-width:601px) {
.fly-over-header h2 {
	text-align:center;
	color:$white;
	margin-bottom:-10px;
	margin-top:40px;
}
}

@media (min-width:0px) and (max-width: 600px) {
.fly-over-header h2 {
	text-align:center;
	color:$white;

}
}

#wrap-all {
	width:90%;
	height:90%;
	margin:0 auto;
	background:rgba(255, 255, 255, 0.4);
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.fly-group {
  	padding:2em;
	
}
@media (min-width:0px) and (max-width: 481px) {
.fly-4 {
	display:inline-block;
	margin-top:30px;
	width:250px;
	height:50px;
	margin-left:15px;

}
}

@media (min-width:482px) and (max-width: 767px) {
.fly-4 {
	display:inline-block;
	margin-top:30px;
	width:40%;
	height:50px;
	margin-left:30px;

}
}

@media (min-width:768px) and (max-width: 1030px) {
.fly-4 {
	display:inline-block;
	margin-top:30px;
	width:250px;
	height:50px;
	margin-left:30px;

}
}

@media (min-width:1031px) {
.fly-4 {
	display:inline-block;
	margin-top:30px;
	width:250px;
	height:50px;
	margin-left:40px;

}
}

.fly-4 h3 {
	font-size:1em;
	color:$white;
	float:left;
	margin-top:-1px;
	margin-left:10px;
	}

.fly-4 h3 i {
	font-size:1.9em;	
	width: 10px; 
	height: 10px; 
	background:$black; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	padding:.3em .3em .2em .3em;
	}

.fly-4 h4 {
	width:200px;
	word-wrap:break-word;
	color:$black;
	padding-left:10px;
	float:left;
	line-height: .95em;
	font-weight:400;
	margin-top:0px;
	}

/*********************
  HOME TOP PARALLAX
  *********************/

  @media (min-width:0px) and (max-width: 767px) {
#home-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-mobile.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width:768px) and (max-width: 1024px) {
#home-top-parallax-section {
	height:886px;
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-tablet.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width: 1025px){
#home-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/04/jrdan-home-page-v5.jpg');
	height:1000px;
	background-attachment: fixed;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
	}
}

/*********************
  HOME SIM TOP PARALLAX
  *********************/

  @media (min-width:0px) and (max-width: 767px) {
#home-sim-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-mobile.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width:768px) and (max-width: 1024px) {
#home-sim-top-parallax-section {
	height:886px;
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-tablet.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width: 1025px){
#home-sim-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background.jpg');
	background-attachment: fixed;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
	}
}

/*********************
  BIZ SIM TOP PARALLAX
  *********************/

  @media (min-width:0px) and (max-width: 767px) {
#biz-sim-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-mobile.jpg');
	padding-bottom:20px;
	background-repeat: no-repeat;
	}
}

@media (min-width:768px) and (max-width: 1024px) {
#biz-sim-top-parallax-section {
	height:886px;
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background-tablet.jpg');
	background-repeat: no-repeat;
	}
}

@media (min-width: 1025px){
#biz-sim-top-parallax-section {
	background-image: url('/wp-content/uploads/2015/03/home-simulator-video-background.jpg');
	background-attachment: fixed;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
	}
}