/******************************************************************
Site Name: Full Swing
Author: Jeremy Owens

Stylesheet: Page Syles

Here is where we declare all of the styles for the widgets.

******************************************************************/

/*********************
 HOME PAGE - Section 3 - Why Full Swing Golf
 	location of widget is in footer.php
  *********************/


  .icon-group {
  margin-left:15%;
  width:90%;
	
}
.column-4 {
	float:left;
	margin-top:30px;
	min-width: 50%;
}

.column-4 h3 {
	font-size:1.2em;
	color:#efcaa8;
	float:left;
	margin-top:5px;
	margin-left:10px;
	}

.column-4 h4 {
	color:#efcaa8;
	padding-left:10px;
	float:left;
	line-height: .95em;
	font-weight:100;
	margin-top:0px;
	}