/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.icon-group {
  margin-left:10%;
  width:100%;
	
}

.column-4 {
	float:left;
	margin-top:30px;
	margin-right:5px;
	width:205px;
}

.post-layout {
 	margin-left:auto;
 	margin-right:auto;
 	width:70%;

  }

 

social-post a {
	width:70%;
}
 
.post-social-buttons {
	margin-left:-13px;
	margin-top:-20px;
}