/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.icon-group {
  margin-left:auto;
  width:90%;
	
}

.column-4 {
	float:left;
	margin-top:30px;
	min-width: 25%;
}

